footer
  p.Copyright
    | Copyright &copy; 2022 TicketBooker. All rights reserved.
  .icon
    a(href='')
      img(src='../image/login_image/ph_instagram-logo.svg' alt='insta')
    a(href='')
      img(src='../image/login_image/ri_linkedin-box-fill.svg' alt='linkd')
    a(href='')
      img(src='../image/login_image/mdi_twitter.svg' alt='twitter')
  .pt
    a(href='') Privacy Policy
    a(href='') Term of Use