header
  nav
    img.logo_icon(src='/image/login_image/login_logo.png' alt='')
    ul.menu
      li
        a(href='/') Home
      li
        a(href='/about') About
      li
        a(href='/contact') Contact
      li
        a(href='/faq') FAQ
      li 
        a(href="/policy") Policy 
    .login_up
      if(tokenExist)
        a.iconBtn(href='/user/logout')
          .image
            img(src= UserInfor.avatar  alt='')
          p Logout
      else 
        a.signup(href='/user/register') Sign up
        a.login(href='/user/login') Log In
