doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='Mark Otto, Jacob Thornton, and Bootstrap contributors')
  meta(name='generator' content='Hugo 0.101.0')
  title #{title}
  link(rel='canonical' href='https://getbootstrap.com/docs/4.6/examples/dashboard/')
  // Bootstrap core CSS
  link(href='/assets/dist/css/bootstrap.min.css' rel='stylesheet')
  style.
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
  // Custom styles for this template
  link(href='/admin/css/dashboard.css' rel='stylesheet')

input.d-none(value = title activeNavbar)

nav.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0.shadow
  a.navbar-brand.col-md-3.col-lg-2.mr-0.px-3(href='#') 
    img(class="rounded-circle" width= "30px"  src="https://scontent.fhan14-3.fna.fbcdn.net/v/t39.30808-1/462944189_1303984334294883_3370856959138856334_n.jpg?stp=dst-jpg_s200x200&_nc_cat=111&ccb=1-7&_nc_sid=0ecb9b&_nc_ohc=GpSEEwGlCisQ7kNvgFOtGz-&_nc_zt=24&_nc_ht=scontent.fhan14-3.fna&_nc_gid=AOaqHi0ilwvMuiq-2lr25tA&oh=00_AYB78eg0hAdxBkxAl9M2vSIvwK-_tbf9tFqKw6hIlcHoDQ&oe=673296F1")
    span.ml-3 Admin
  button.navbar-toggler.position-absolute.d-md-none.collapsed(type='button' data-toggle='collapse' data-target='#sidebarMenu' aria-controls='sidebarMenu' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  input.form-control.form-control-light.w-100(type='text' placeholder='Search' aria-label='Search')
  ul.navbar-nav.px-3
    li.nav-item.text-nowrap
      a.nav-link(href='#') Sign out
.container-fluid
  .row
    nav#sidebarMenu.col-md-3.col-lg-2.d-md-block.bg-light.sidebar.collapse
      .sidebar-sticky.pt-3
        ul.nav.flex-column
          li.nav-item
            a.nav-link(href='/admin/' Dashboard)
              span(data-feather='home')
              |               Dashboard 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#' Order)
              span(data-feather='file' )
              |               Orders
          li.nav-item
            a.nav-link(href='/admin/movie' Movie)
              span(data-feather='shopping-cart')
              |               Movie
          li.nav-item
            a.nav-link(href='/admin/ticket' Ticket)
              span(data-feather='shopping-bag')
              |               Ticket
          li.nav-item
            a.nav-link(href='#' Customer)
              span(data-feather='users')
              |               Customers
          li.nav-item
            a.nav-link(href='#' Report)
              span(data-feather='bar-chart-2')
              |               Reports
        h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
          span Saved reports
          a.d-flex.align-items-center.text-muted(href='#' aria-label='Add a new report')
            span(data-feather='plus-circle')
        ul.nav.flex-column.mb-2
          li.nav-item
            a.nav-link(href='#')
              span(data-feather='file-text')
              |               Current month
          li.nav-item
            a.nav-link(href='#')
              span(data-feather='file-text')
              |               Last quarter
          li.nav-item
            a.nav-link(href='#')
              span(data-feather='file-text')
              |               Social engagement
          li.nav-item
            a.nav-link(href='#')
              span(data-feather='file-text')
              |               Year-end sale
    main.col-md-9.ml-sm-auto.col-lg-10.px-md-4(role='main')
        block content
script(src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
script.
  window.jQuery || document.write('<script src="/assets/js/vendor/jquery.slim.min.js"><\\/script>')
script(src='/assets/dist/js/bootstrap.bundle.min.js')
script(src='https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js')
script(src='https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js')
script(src='/admin/js/dashboard.js')
script(src= "/admin/js/main.js")