extends ../layouts/main.pug
block content
    .form.my-3
        form(class= "form" action=`/admin/user/edit/${record._id}?_method=PATCH`, method="post")
            .form-group
                label() Email
                input.form-control(type="text", placeholder="", id="email", name="email" value=record.email)
            .form-group
                label() FullName
                input.form-control(type="text", placeholder="", id="fullname", name="fullname" value=record.fullname)
            .form-group
                label() Ngày  tạo
                input.form-control(type="text", placeholder="", id="createdAt", name="createdAt" value=record.createdAt)
            button(type="submit" class="btn btn-primary") Update