extends ../layouts/main.pug
block content
    table(class='table')
        thead
            tr
                th(colspan="4" class="text-center ")
                    h3 Chi tiết tài khoản
            tr 
                td  Email
                th #{record.email}
            tr 
                td Họ tên
                th #{record.fullname}
            tr 
                td Thời gian tạo 
                th #{record.createdFormat}
            tr 
                td Danh sách vẽ đã đặt
