* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 1440px;
    height: 100vh;
    background: var(--Background---Dark, #222);
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

/* ********************* header ************** */
header {
    height: 100px;
    width: 100%;
}

header nav {
    width: 1280px;
    height: 100%;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

header nav ul.menu {
    display: flex;
    gap: 60px;
}

header nav img.logo_icon {
    height: 32px;
    width: 30px;
}

header nav .login_up {
    display: flex;
    height: 100%;
    width: 200px;
    align-items: center;
    justify-content: space-around;
}

header nav .login_up a {
    color: white;
}

header nav .login_up a.login {
    display: inline-flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #fff;
}

header nav a:hover {
    color: #fcc434;
    text-shadow: 5px 5px 10px white;
}

header nav .login_up a.login:hover {
    background: #fcc434;
    box-shadow: 5px 5px 10px white;
    cursor: pointer;
    color: white;
    border: none;
}

/* *********** form dang nhap **** */
.form_login {
    width: 515px;
    height: 449px;
    margin-top: 100px;
    margin-left: 463px;
    margin-right: 463px;
    border-radius: 10px;
    flex: 1;
}

.form_login:hover {
    box-shadow: 0 0 10px #fcc33466;
}

.form_login form {
    height: 100%;
    width: 100%;
}

.form_login form h1 {
    color: white;
    margin-bottom: 25px;
    padding-left: 20px;
}

.form_login form .signup {
    width: 303px;
    height: 24px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.form_login form .signup span {
    color: var(--Text---Secondary---Dark, rgba(255, 255, 255, 0.5));
    font-family: Inter;
    font-size: 2rem;
    font-weight: 400;
    margin-right: 5px;
}

.form_login form .signup a {
    color: #fcc434;
    font-family: Inter;
    font-size: 2rem;
    font-weight: 400;
}

/* *** ussername *** */
.form_login form .username_container {
    margin-top: 50px;
    height: 60px;
    width: calc(100% -20px);
    margin-left: 20px;
}

.form_login form .username_container input.custom_username {
    height: 100%;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: none;
    background: var(--Foreground---Dark, #333);
    /* padding-left: 20px; */
}

.form_login form .username_container input.custom_username::placeholder {
    font-size: 2rem;
    color: #ffffff93;
    padding-left: 15px;
}

.form_login form .username_container input.custom_username,
.form_login form .password_container input.custom_password {
    color: #fff;
}
.form_login form .username_container input.custom_username[type="text"]:focus {
    outline: none;
    /* Loại bỏ viền mặc định khi focus */
    color: white;
    font-size: 2rem;
    padding: 30px;
    box-shadow: 5px 5px 10px #fcc33433;
}

.form_login form .username_container input.custom_username[type="text"] {
    outline: none;
    color: white;
    font-size: 2rem;
    padding-left: 15px;
}

/* password */
.form_login form .password_container {
    margin-top: 15px;
    height: 60px;
    width: calc(100% -20px);
    margin-left: 20px;
}

.form_login form .password_container input.custom_password {
    height: 100%;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: none;
    background: var(--Foreground---Dark, #333);
    /* padding-left: 20px; */
}

.form_login form .password_container input.custom_password::placeholder {
    font-size: 2rem;
    color: #ffffff93;
    padding-left: 15px;
}

.form_login
    form
    .password_container
    input.custom_password[type="password"]:focus {
    outline: none;
    /* Loại bỏ viền mặc định khi focus */
    color: white;
    font-size: 2rem;
    padding: 30px;
    box-shadow: 5px 5px 10px #fcc33433;
}

.form_login form .password_container input.custom_password[type="password"] {
    outline: none;
    /* Loại bỏ viền mặc định khi focus */
    color: white;
    font-size: 2rem;
    padding: 15px;
}

/* remember me */
.form_login form .remember {
    margin-top: 41px;
    height: 24px;
    width: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form_login form .remember span {
    padding-left: 10px;
    color: #fcc434;
}

.form_login form .remember_checkbox {
    appearance: none;
    /* xóa ngoại j=hình hiện tại của check box */
    height: 20px;
    width: 20px;
    border-radius: 4px;
    border: 2px solid white;
    cursor: pointer;
    position: relative;
}

/* dã check thì đổi nền */
.form_login form .remember_checkbox:checked {
    background-color: #fcc434;
}

.form_login form .remember_checkbox:checked::before {
    content: "✔";
    color: #fff;
    font-size: 1.6rem;
    position: absolute;
    left: 15%;
    top: -17%;
}

/* button login */
.form_login form input.login_btn {
    display: flex;
    height: 60px;
    width: calc(100% - 40px);
    background-color: #fcc434;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-left: 20px;
    color: #fff;
    font-size: 2rem;
}

.form_login form input.login_btn:active {
    background-color: #f7d47d;
}

.form_login form input.login_btn:hover {
    cursor: pointer;
}

/* **********  footer ******** */
footer {
    width: 100%;
    height: 80px;
    display: flex;
    margin-top: 150px;
    align-items: center;
}

footer a,
footer p {
    color: #fff;
    font-size: 1.5rem;
    font-family: Inter;
}

footer p.Copyright {
    width: 378px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}

footer .icon {
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin-left: 290px;
}

footer .pt {
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin-left: 420px;
}

@font-face {
    font-family: "Poppins";
    src: url("../font/poppins_light.otf") format("truetype");
}
