* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
@font-face {
    font-family: "Poppins";
    src: url("../font/poppins_light.otf") format("truetype");
}

body {
    width: 1440px;
    height: 100vh;
    background: var(--Background---Dark, #222);
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

/* ********************* header ************** */
header {
    height: 100px;
    width: 100%;
}

header nav {
    width: 1280px;
    height: 100%;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

header nav ul.menu {
    display: flex;
    gap: 60px;
}

header nav img.logo_icon {
    height: 32px;
    width: 30px;
}

header nav .login_up {
    display: flex;
    height: 100%;
    width: 200px;
    align-items: center;
    justify-content: space-around;
}

header nav .login_up a {
    color: white;
}

header nav .login_up a.login {
    display: inline-flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #fff;
}

header nav a:hover {
    color: #fcc434;
    text-shadow: 5px 5px 10px white;
}

header nav .login_up a.login:hover {
    background: #fcc434;
    box-shadow: 5px 5px 10px white;
    cursor: pointer;
    color: white;
    border: none;
}

/* form dang ky */
form.signup {
    width: 600px;
    margin: 12px auto;
    border-radius: 10px;
    padding: 20px 0;
}

form.signup:hover {
    box-shadow: 0 0 10px #fcc33466;
}

form.signup h1 {
    color: white;
    margin-bottom: 25px;
    padding-left: 20px;
}

form.signup .already {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

form.signup .already span {
    color: var(--Text---Secondary---Dark, rgba(255, 255, 255, 0.5));
    font-family: Inter;
    font-size: 2rem;
    font-weight: 400;
    margin-right: 5px;
}

form.signup .already a {
    color: #fcc434;
    font-family: Inter;
    font-size: 2rem;
    font-weight: 400;
}

form.signup .check_role {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-top: 50px;
}

form.signup .check_role input[type="radio"] {
    margin: 3px;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    appearance: none;
    /*xo angoai hinh hien tai */
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    position: relative;
}

/* dã check thì đổi nền */
form.signup .check_role input[type="radio"]:checked {
    border: 3px solid #fcc434;
}

form.signup .check_role input[type="radio"]:checked::before {
    content: "";
    color: #fcc434;
    font-size: 5rem;
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #fcc434;
    border-radius: 50%;
    left: 16%;
    top: 15%;
}

form.signup .check_role label {
    color: var(--Text---Secondary---Dark, rgba(255, 255, 255, 0.5));
    font-family: Inter;
    font-size: 2rem;
    font-weight: 400;
    margin-right: 20px;
}

/* name */
form.signup .name {
    margin-top: 26px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

form.signup .name input[type="text"],
form.signup .name input[type="email"] {
    width: 220px;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: none;
    background: var(--Foreground---Dark, #333);
}

form.signup .name input[type="text"]::placeholder,
form.signup .name input[type="email"]::placeholder {
    font-size: 2rem;
    color: #ffffff93;
    padding-left: 15px;
}

form.signup .name input[type="text"]:focus,
form.signup .name input[type="email"]:focus {
    outline: none;
    /* Loại bỏ viền mặc định khi focus */
    color: white;
    font-size: 2rem;
    padding: 30px;
    box-shadow: 5px 5px 10px #fcc33433;
}

form.signup .name input.firstname[type="text"],
form.signup .name input.lastname[type="text"] {
    outline: none;
    color: white;
    font-size: 2rem;
    padding-left: 15px;
    flex: 1;
}

form.signup .name input.firstname[type="text"] {
    margin-right: 12px;
}

form.signup .name input.firstname[type="text"]:focus,
form.signup .name input.lastname[type="text"]:focus {
    padding: 30px;
}

/* *** username container */
form.signup .password_container,
form.signup .confrim_password_container,
form.signup .username_container {
    margin-top: 15px;
    height: 60px;
    width: calc(100% - 40px);
    margin-left: 20px;
}

form.signup .password_container input.custom_password[type="password"],
form.signup
    .confrim_password_container
    input.custom_confirm_password[type="password"],
form.signup .username_container input.custom_username[type="text"],
form.signup .username_container input.custom_username[type="email"] {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: none;
    background: var(--Foreground---Dark, #333);
    outline: none;
    color: #fff;
    font-size: 2rem;
    padding: 15px;
}

form.signup
    .password_container
    input.custom_password[type="password"]::placeholder,
form.signup
    .confrim_password_container
    input.custom_confirm_password[type="password"]::placeholder,
form.signup
    .username_container
    input.custom_username[type="text"]::placeholder {
    font-size: 2rem;
    color: #ffffff93;
    padding-left: 15px;
}

form.signup .password_container input.custom_password[type="password"]:focus,
form.signup
    .confrim_password_container
    input.custom_confirm_password[type="password"]:focus,
form.signup .username_container input.custom_username[type="text"]:focus {
    outline: none;
    /* Loại bỏ viền mặc định khi focus */
    color: white;
    font-size: 2rem;
    padding: 30px;
    box-shadow: 5px 5px 10px #fcc33433;
}

/* agree */
form.signup .agree {
    display: flex;
    margin-top: 41px;
    height: 24px;
    width: 100%;
    padding-left: 20px;

    align-items: center;
}

form.signup .agree span {
    color: var(--Text---Secondary---Dark, rgba(255, 255, 255, 0.5));
    font-family: Inter;
    font-size: 2rem;
    font-weight: 400;
}

form.signup .agree span a {
    color: #fcc434;
}

form.signup input.agree_checkbox {
    margin-right: 4px;
    height: 20px;
    width: 20px;
    appearance: none;
    /* xóa ngoại j=hình hiện tại của check box */
    border-radius: 4px;
    border: 2px solid white;
    cursor: pointer;
    position: relative;
}

form.signup input.agree_checkbox:checked {
    background-color: #fcc434;
}

form.signup input.agree_checkbox:checked::before {
    content: "✔";
    color: #fff;
    font-size: 1.6rem;
    position: absolute;
    left: 12%;
    top: -18%;
}

/* button create account  */
form.signup input.cre_account {
    display: flex;
    height: 60px;
    width: calc(100% - 40px);
    background-color: #fcc434;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 40px;
    margin-left: 20px;
    color: #fff;
    font-size: 2rem;
}

form.signup input.cre_account:active {
    background-color: #f7d47d;
}

form.signup input.cre_account:hover {
    cursor: pointer;
}

/* **********  footer ******** */
footer {
    width: 100%;
    height: 80px;
    display: flex;
    margin-top: 150px;
    align-items: center;
    font-family: "Poppins";
}

footer a,
footer p {
    color: #fff;
    font-size: 1.5rem;
    font-family: Inter;
}

footer p.Copyright {
    width: 378px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}

footer .icon {
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin-left: 290px;
}

footer .pt {
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin-left: 420px;
}
