extends ../layouts/main.pug
include ../../mixins/alert.pug
block content
    
    .form.my-3
        form(class= "form" action="/admin/ticket/create", method="post")
            .form-group
                label() Phim
                select.form-control(name="id_movie" required) 
                    option(value = "" disabled selected) -- Chọn phim --
                    each movie in movies 
                        option(value = movie._id) #{movie.name}
            .row
                .form-group.col-2
                    label() Giá
                    input.form-control(type="number", min="0" id="price", name="price" required)
                .form-group.col-2
                    label() Thời gian bắt đầu
                    input.form-control(type="time", id="timestart", name="timestart" required)
                .form-group.col-2
                    label() Ngày chiếu
                    input.form-control(type="date", id="datestart", name="datestart" required value="24/12/2024")
                .form-group.col-2
                    label() Số lượng vé
                    input.form-control(type="number", min="1" max ='139' id="quantity", name="quantity" required)
            .form-group
                label() Phòng chiếu
                select.form-control(name="place" required) 
                    option(value = "" disabled selected) -- Chọn phòng --
                    option(value = "PH01") PH01
                    option(value = "PH02") PH02
                    option(value = "PH03") PH03
                    option(value = "PH04") PH04
                    option(value = "PH05") PH05

            button(type="submit" class="btn btn-primary") Create
    script.
        // Lấy ngày hiện tại
        const today = new Date().toISOString().split('T')[0];
        // Đặt giá trị min cho input
        document.getElementById('datestart').setAttribute('min', today);
