extends ../layouts/default.pug
block content
 link(rel="stylesheet", href="/css/profile.css")
 main
  form(action="/user/profile/update?_method=PATCH", method="post" enctype="multipart/form-data") 
    h1 PROFILE
    .edit_prf
      #edit_inf
        table
          tr
            td
              label(for='firstName') FirstName:
            td
              input#firstName(type='text' name= "firstname" value = UserInfor.firstname required)
          tr
            td
              label(for='lastName') LastName:
            td
              input#lastName(type='text' name= "lastname" value = UserInfor.lastname required)
          tr
            td
              label(for='username') Username:
            td
              input#username(type='text' name = "username" value = UserInfor.username disabled readonly)
          tr
            td
              label(for='phoneNumber') Phone number:
            td
              input#phoneNumber(type='text' name="phone" value = UserInfor.phone required)
          tr
            td
              label(for='email') Email:
            td
              input#email(type='text' name="email" value = UserInfor.email disabled readonly)
      .line
      #edit_avt
        table
          tr
            td
              label(for='avt') Avatar:
            td.avt 
              .image2
                input.form-control-file(type="file" name="avatar" accept= "image/*" upload-image-input)
                img#avt(src= UserInfor.avatar name="avatar" alt='' upload-image-preview style= "margin:20px 20px;border-radius: 50%; width:80px; height:80px; border-radius:50%")
              button#btnUpload(type='button')
                | Upload
    .btnsave
      button#btnSave(type='submit') Update Profile
  script(src="/javascript/profile.js") 
  script.
    // show image
        const fileImage = document.querySelector('[upload-image-input]')
        const showImg = document.querySelector('[upload-image-preview]' )
        fileImage.onchange = event => {
            const file = event.target.files[0];
            if (file) {
                showImg.setAttribute('width', '50px')
                showImg.setAttribute('height', '50px')
                showImg.src = URL.createObjectURL(file)
            }
        }
