include ../mixins/alert.pug

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/signup.css')
  link(rel='stylesheet' href='/css/flash.css')
  title Login 
// ****** header *****
header
  nav
    img.logo_icon(src='../image/signup_image/login_logo.png' alt='')
    ul.menu
      li
        a(href='/') Home
      li
        a(href='/about') About
      li
        a(href='/contact') Contact
      li
        a(href='/faq') FAQ
      li 
        a(href="/policy") Policy  
    .login_up
      a.signup(href='/user/register') Sign up
      a.login(href='/user/login') Log In
+alert-error(2000)
form.signup(action='/user/register' method="post" id= "formSubmit")
  h1 Create an account
  .already
    span Already have one ? 
    a(href='/user/login') Login
  .check_role
    input#individual(type='radio' name='role' value='individual')
    label(for='individual') Individual
    input#Business(type='radio' name='role' value='Business')
    label(for='Business') Business
  .name
    input.firstname(type='text' required placeholder='First name' name="firstname")
    input.lastname(type='text' required placeholder='Last name' name="lastname")
  .username_container
    input#username.custom_username(type='email' name='email' placeholder='Email address' oninvalid="setCustomMessage(this)"
      oninput="clearCustomMessage(this)"  required)
  .password_container
    input#password.custom_password(type='password' name='password' placeholder='Password' required)
  .confrim_password_container
    input#password.custom_confirm_password(type='password' name='confirmpassword' placeholder='Confirm Password' required)
  .agree
    input.agree_checkbox(type='checkbox' required)
    span
      | I agree to the 
      a(href='') Term of Use
      |  &amp;
      a(href='') Privacy Policy
  input.cre_account(type='submit' value='Create account' id="inputSubmit")
  
footer
  p.Copyright
    | Copyright &copy; 2022 TicketBooker. All rights reserved.
  .icon
    a(href='')
      img(src='../image/signup_image/ph_instagram-logo.svg' alt='insta')
    a(href='')
      img(src='../image/signup_image/ri_linkedin-box-fill.svg' alt='linkd')
    a(href='')
      img(src='../image/signup_image/mdi_twitter.svg' alt='twitter')
  .pt
    a(href='') Privacy Policy
    a(href='') Term of Use
script(src="/javascript/showAlert.js")
script.
  var inputSubmit = document.getElementById("inputSubmit")
  console.log(inputSubmit)
  if(inputSubmit) {
    inputSubmit.onclick = function() {
      var formSubmit = document.getElementById("formSubmit")
      //- formSubmit.submit()
    }
  }
  function setCustomMessage(input) {
    if (input.validity.valueMissing) {
      input.setCustomValidity("Vui lòng nhập địa chỉ email.");
    } else if (input.validity.typeMismatch) {
      input.setCustomValidity("Địa chỉ email không hợp lệ. Vui lòng kiểm tra lại.");
    } else {
      input.setCustomValidity("");
    }
  }

  function clearCustomMessage(input) {
    input.setCustomValidity("");
  }

