doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/header.css")
        link(rel="stylesheet", href="/css/footer.css")
        link(rel="stylesheet", href="/css/nowplaying.css")
        link(rel="stylesheet", href="/css/detail.css")
        link(rel="stylesheet", href="/css/listOrderTicket.css")
        title #{title}
    body
        div( id="header-placeholder")
            include ../partials/header.pug
        block content
        div( id="footer-placeholder")
            include ../partials/footer.pug
